---
interface Props {
  guests?: number;
}

const { guests } = Astro.props;

const giftLink = `https://www.elpalaciodehierro.com/buscar?eventId=388862`;
---
<section>
  <div class="rules">
    <div class="icon-container">
      <img class="icon" src="/ticket.svg">
    </div>
    <p class="title"><span class="guests">{guests ?? 2}</span> PERSONAS</p>
    <div class="icon-container">
      <img class="icon" src="/hanger.svg">
    </div>
    <p class="title">COCTEL</p>
    <div class="icon-container">
      <img class="icon" src="/gift.svg">
    </div>
    <p class="gift">
      Mesa de regalos:<br>El Palacio de Hierro<br>
      No. de evento: <a href={giftLink}>388862</a>
    </p>
    <div class="icon-container">
      <img class="icon" src="/card.svg">
    </div>
    <p class="gift">HERIBERTO GARCÍA LARA<br>BBVA: 4152 3139 1197 8513
    </p>

  </div>
  <div class="suggestion">
    <img src="/shoe.svg">
    <span>Le sugerimos llevar un cambio cómodo de zapatos</span>
  </div>
  <img class="flo14" src="/flo14.svg">
  <a href="https://wa.me/2216538080" target="_blank" class="confirm">
    <span>CONFIRMAR ASISTENCIA AQUÍ</span>
  </a>
</section>
<style>
  section {
    background-color: #455439;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .rules {
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 200px 400px;
    align-items: start;
    justify-content: center;
    width: 100%;
    padding: 50px 150px;
    box-sizing: border-box;
    @media (width < 769px) {
      padding: 50px 18%;
      grid: 100px 100px 100px 100px / 100px 1fr;
      align-items: center;
      justify-content: center;
      height: 500px;
    }
    
    .icon-container {
      width: 200px;
      height: 200px;
      border-right: #ad873d solid 1px;
      display: flex;
      justify-content: center;
      align-items: start;
      @media (width < 769px) {
        width: 100px;
        height: 100px;
        align-items: center;
      }
      @media (width < 480px) {
        width: 80px;
        /* height: 0px; */
      }
      .icon {
        width: 120px;
        @media (width < 769px) {
          width: 80px;
        }
        @media (width < 480px) {
          width: 50px;
        }
      }
    }


    .title {
      font-size: 50px;
      padding-left: 30px;
      margin: 0;
      @media (width < 769px) {
        font-size: 24px;
        /* padding-left: 10px; */
      }
      @media (width < 480px) {
        font-size: 20px;
        padding-left: 0;
      }
    }
    .guests {
      font-size: 100px;
      line-height: 60px;
      @media (width < 769px) {
        font-size: 60px;
      }
    }

    .people {
      font-size: 50px;
      margin: 0;

      span {
        font-size: 80px;
      }
    }
    .dressing {
      font-size: 50px;
      margin: 0;
    }
    .gift {
      padding: 10px 0 0 30px;
      text-align: justify;
      font-size: 30px;
      margin: 0;

      @media (width < 769px) {
        font-size: 18px;
      }
      @media (width < 480px) {
        font-size: 16px;
        padding: 0;
      }

      a {
        color: white;
      }
    }
  }
  .suggestion {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-bottom: 20px;
    align-items: center;
    @media (width < 769px) {
      padding: 20px;
    }
    img {
      width: 120px;
      @media (width < 769px) {
        width: 80px;
      }
    }
    span {
      font-size: 30px;
      @media (width < 769px) {
        font-size: 20px;
      }
    }
  }
  .confirm {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    padding: 50px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    
    font-size: 44px;
    font-weight: 600;
    text-decoration: underline;
    color: #ad873d;
    @media (width < 769px) {
      font-size: 24px;
    }
  }
  .flo14 {
    position: absolute;
    width: 280px;
    right: 0;
    bottom: 0;
    @media (width < 1200px) {
      width: 15%;
    }
  }
</style>