---

---
<section>
  <h1>¡Nos casamos!</h1>
  <img src="/LYH.svg">
  <p>Las mejores cosas de la vida son aún
    más fantásticas cuando son compartidas
    con personas maravillosas, por eso
    queremos que celebren con nosotros</p>
</section>
<style>
  section {
    margin: 0 10%;
    background-color: #455439;
    /* width: 100%; */
    height: 800px;
    color: #e0cb9d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;

    h1 {
      font-size: 44px;
      font-weight: 200;
    }
    img {
      width: 400px;
    }
    p {
      font-size: 20px;
    }
  }
</style>
