---

---
<section>
  <img class="hero" src="/hero2.avif">
  <div class="heroText">
    <p>“Cásate con quien te mire como si fueras magia”</p>
    <span>Frida Kahlo</span>
  </div>
</section>
<style>
  section {
    color: #e0cb9d;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .hero {
    width: 100%;
    object-fit: contain;
  }
  .heroText {
    height: 150px;
    background-color: #455439;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px gray;
    
    @media (width < 960px) {      
      font-size: 24px;
    }
    @media (width < 600px) {      
      font-size: 18px;
    }
    
    p {
      margin: 0;
    }
    span {
      font-style: italic;
    }
  }
</style>
