---

---
<section>
  <img class="hero" src="/hero.avif">
  <div class="heroText">
    <p>“Cásate con quien te mire como si fueras magia”</p>
    <span>Frida Khalo</span>
  </div>
</section>
<style>
  section {
    color: #455439;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .hero {
    width: 100%;
    object-fit: contain;
    opacity: 0.7;
  }
  .heroText {
    position: absolute;
    bottom: 5%;
    right: 50px;
    z-index: 10;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-shadow: 1px 1px 1px black;
    
    p {
      padding-right: 100px;
      width: 500px;
      margin: 0 0 20px 0;
    }
    span {
      padding-right: 100px;
      width: 500px;
      font-style: italic;
    }
  }
</style>
