---
const esmeralda = `https://www.google.com/maps/place/La+Esmeralda/@18.8798314,-98.4388321,15z/data=!4m9!3m8!1s0x85cfb39bdf15dc63:0xcac2fbebda171487!5m2!4m1!1i2!8m2!3d18.8836021!4d-98.4332199!16s%2Fg%2F12qh4_826?entry=ttu`;
const calandrias = `https://www.google.com/maps/place/Las+Calandrias+de+Atlixco/@18.8906926,-98.4267924,15z/data=!4m9!3m8!1s0x85cfb38e32a75091:0x1164070c6809bb6e!5m2!4m1!1i2!8m2!3d18.8906926!4d-98.4267924!16s%2Fg%2F1tdv_6n8?entry=tts&g_ep=EgoyMDI0MDcwMS4wKgBIAVAD`;
const gardenia = `https://www.google.com/maps/place/Grand+Gardenia/@18.8946849,-98.4263131,17z/data=!4m9!3m8!1s0x85cfb3808c153a79:0xa2d4be44f2480fd2!5m2!4m1!1i2!8m2!3d18.8946798!4d-98.4237382!16s%2Fg%2F11c5xm6fl7?entry=tts&g_ep=EgoyMDI0MDcwMS4wKgBIAVAD`;
const flores = `https://www.google.com/maps/place/Casa+de+las+flores+hotel+%26+spa/@18.8847237,-98.4355322,16z/data=!4m9!3m8!1s0x85cfb3d8d80cb277:0x2cf84fda572e2a92!5m2!4m1!1i2!8m2!3d18.8849408!4d-98.4305417!16s%2Fg%2F11h5990zbt?entry=tts&g_ep=EgoyMDI0MDcwMS4wKgBIAVAD`;
---
<section>
  <img class="flo15" src="flo15.svg">
  <div class="banner">
    <span>HOSPEDAJE</span>
  </div>
  <div class="main-hotel">
    <a class="title" href={gardenia} target="_blank">HOTEL GRAND GARDENIA</a>
    <img class="image" src="/GrandGardenia.avif">
    <p><strong>Dirección:</strong> Priv. de los
      Fresnos 1703, Flores Magón,
      Campestre la Moraleda,
      74294 Atlixco, Pue.
      <br><br>
      <strong>Teléfono:</strong> 222 323 9511
    </p>
    <p>Reserva por teléfono mencionando que son invitados de
    la <strong>“BODA: LAU & HERI”</strong> para una tarifa preferencial.
    </p>
    <div class="other">Otras opciones:<br><br>
      <div class="title">
        <img src="/home.svg">
        <a class="hotel" href={flores} target="_blank">HOTEL CASA DE LAS FLORES</a><br>
      </div>
      <span class="phone"><strong>Teléfono:</strong> 244 150 77016</span>
      <br><br>
      <div class="title">
        <img src="/home.svg">
        <a class="hotel" href={esmeralda} target="_blank">HOTEL ESMERALDA</a><br>
      </div>
      <span class="phone"><strong>Teléfono:</strong> 244 443 8061</span>
      <br><br>
      <div class="title">
        <img src="/home.svg">
        <a class="hotel" href={calandrias} target="_blank">HOTEL LAS CALANDRIAS</a><br>
      </div>
      <span class="phone"><strong>Teléfono:</strong> 244 446 2020</span>
      <br>
    </div>
  </div>
</section>
<style>
section {
  color: #ad873d;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
    padding: 0 5%;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #455439;
  width: 100%;
  height: 200px;
  font-size: 64px;
  @media (width < 760px) {
    font-size: 44px;
  }
}
.hotels {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  padding: 50px;
  @media (width < 1200px) {
    grid-template-columns: 1fr;
    padding: 5%;
  }
}
.main-hotel {
  width: 600px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
  @media (width < 760px) {
    font-size: 18px;
    width: 100%;
  }
  .title {
    font-size: 34px;
    color: #ad873d;
    text-decoration: underline;
    @media (width < 760px) {
      font-size: 24px;
    }
  }
  .image {
    width: 600px;
    max-width: 90%;
  }
  .other {
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 0 5%;
    .title {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
    .hotel {
      font-size: 28px;
      text-decoration: underline;
      color: #ad873d;
      @media (width < 760px) {
        font-size: 20px;
      }
    }
    .phone {
      padding-left: 40px;
    }
  }
}
.flo15 {
  width: 150px;
  position: absolute;
  left: 0;
  @media (width < 760px) {
    width: 20%;
  }
}
</style>