<section>
  <div class="banner">
    <span>HOSPEDAJE</span>
  </div>

</section>
<style>
section {

}
.banner {
  color: white;
  background-color: #455439;
  width: 100%;
  height: 400px;
  text-align: center;
  font-size: 64px;
}
</style>