---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '@fontsource-variable/playfair-display';
import SEO from '../components/SEO.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<SEO title='La boda de Lau y Heri' description='Invitación digital para la boda de Laura y Heriberto'/>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--lunarGreen: #455439;
		--alpine: #ad873d;
		--sapling: #e0cb9d;
		--white: white;
	}
	body {
		margin: 0;
	}
	html {
		font-family: 'Playfair Display Variable', serif;
		font-weight: 200;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
